body {
	margin: 0 auto;
	font-size: 14px;
	background-color: #FAFAFA;
	font-family: 'Open Sans', sans-serif;
}

.team {
	padding: 50px 0;
	text-align: center;
}

.team h1 {
	font-size: 40px;
	margin-bottom: 20px;

}

.card {
	width: 230px;
	text-align: center;
	padding: 20px;
	border-radius: 5px;
	margin: 0 15px;
	box-shadow: 0 0 14px 0 rgba(104,117,124,.19);
}

.card .card-photo {
	width: 230px;
	height: 230px;
	background: #ccc;
	overflow: hidden;
}

.card .card-photo img {
	max-width: 100%;
	position: relative;
}

.alex-kornev{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1.6);
}
.card .role {
	font-size: 18px;
	color: #747474;
}

.card .social {
	margin-top: 10px;
}

.card .social img {
	height: 25px;
	width: 25px;
	margin: 5px;
}

.team-block {
	display: flex;
	justify-content: center;
}
